.container{
    max-width: 1296px;
    margin: 0 auto;    
}
.d-flex{
    display: flex;
}
.justify-content-between{
    justify-content: space-between;
}
.f-wrap{
    flex-wrap: wrap;
}
.color-3{
    color: #525252;
}
.fz-20{
    font-size: 20px;
}
.fz-14{
    font-size: 14px;
}
.fw-900{
    font-weight: 900;
}
.fw-700{
    font-weight: 700;
}
.card{
    width: 31%;
    border-left: 1px solid rgb(218, 211, 211);
    border-right: 1px solid rgb(218, 211, 211);
    border-bottom: 1px solid rgb(218, 211, 211);
    border-radius:25px 25px 25px 25px;
}
.card-padding{
    padding:20px 32px;
}
.mr-3{
    margin-right: 24px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-24{
    margin-bottom: 24px;
}
.border-top{
    border-top: 1px solid #F2F2F2;
}